:root {
  --color-base-background: #f6f6f6;
  --color-base-background-lighter: #fff;
  --color-base-text: #111;
  --color-base-text-lighter: #86919a;
  --color-border: #104c81;
  --color-primary-background: #104c81;
  --color-primary-text: #0d83fd;
}
